*.iml
.gradle
/local.properties
/.idea/caches/build_file_checksums.ser
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
libs/
src/main/java/com/pawankhandal52/coockspecial/Adapter/
src/main/java/com/pawankhandal52/coockspecial/Database/
src/main/java/com/pawankhandal52/coockspecial/Networking/
src/main/java/com/pawankhandal52/coockspecial/UI/Fragments/
src/main/java/com/pawankhandal52/coockspecial/Utils/
src/main/java/com/pawankhandal52/coockspecial/ViewModel/
src/main/java/com/pawankhandal52/coockspecial/Widgets/
